doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/materialize.css')
    body

    div.container
        h5.col.s12.materialize-red-text.textlighten-3 营业概况
        div#general
            div.row
                div.col.s5
                    div.card
                        div.card-content.blue.lighten-3.white-text
                            span 全天已收现金
                            h4.js-payed.black-text
                div.col.s5
                    div.card
                        div.card-content.purple.lighten-3.white-text
                            span 全天未收现金
                            h4.js-noPayed.black-text
            div.row
                div.col.s5
                    div.card
                        div.card-content.red.lighten-3.white-text
                            span 全天全部金额
                            h4.js-allPayed.black-text
                div.col.s5
                    div.card
                        div.card-content.green.lighten-3.white-text
                            span 全天储值卡金额
                            h4.js-card.black-text
            div.row
                div.col.s5
                    div.card
                        div.card-content.lime.lighten-3.white-text
                            span 中午订单总额
                            h4.js-noonTotal.black-text
                div.col.s5
                    div.card
                        div.card-content.grey.lighten-3.white-text
                            span 晚上订单总额
                            h4.js-nightTotal.black-text

    script(src="javascripts/lib/jquery.js")
    script(src="javascripts/bussiness.js")

