doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/materialize.css')
    body
    h5(class="materialize-red-text textlighten-3") 营业概况
    div
        table#general
            thead
                tr
                    th 已收金额
                    th 未收金额
                    th 订单总额
                    th 总储值收入
            tbody
                tr
                    td(class="js-payed")
                    td(class="js-noPayed")
                    td(class="js-allPayed")
                    td(class="js-card")
        script(src="javascripts/lib/jquery.js")
        script(src="javascripts/bussiness.js")

