doctype html
html
    head
        script(src="javascripts/lib/echarts.min.js")
    body
        div#main(style="width: 1000px;height:600px;")
        script(src="javascripts/lib/jquery.js")
        script(src="javascripts/chart.js")