extends layout

block content

  div.container
    div
      input#date.input-field(placeholder="格式为2016-11-11")
    div
      a#getOrderList.waves-effect.waves-light.btn 获取订单数据
    form#result(action="doLogin" method="post")

