extends layout

block content
  h1= title
  p Welcome to #{title}
  button#getOrderList 获取订单数据

  input#sessionId(placeholder="手动输入sessionId")
  input#date(placeholder="需要计算的日期")
  h3 结果
  textarea#result


